<div class="wrapper">
    <div class="card set-width my-3">
      <div class="card-body">
        <h5>
          <%= link_to food.name, user_food_path(id: food.id, user_id: food.user.id), class: "card-title" %>
        </h5>
        <h5>By: <%= food.user_id %></h5>
        <p class="card-text">Measurement Unit: <%= food.measurement_unit %></p>
        <p class="card-text">Price: $<%= food.price%></p>
        <p class="card-text">Quantity: <%= food.quantity%></p>
        <% if can? :manage, food %>
          <%= button_to "Delete", user_food_path(food.user, food.id), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
</div>