<h1>Add ingredient</h1>
<%= form_with   url: user_recipe_recipe_foods_path, class:"input-form", data: { turbo: false }  do |f|%>
    <div class="form-div" >

    <div class="mb-3 col-sm-8">
    <%= f.label :food, class:"form-label" %><br>
    <%= f.select :food_id, current_user.foods.collect {|food| [food.name, food.id]},{ include_blank: true} , class:"form-select" %><br>

    </div>

    <div class="mb-3 col-sm-8">
    <%= f.label :quantity, class:"form-label" %><br>
    <%= f.number_field :quantity ,  class:"form-control" , required: true, placeholder: '1',  min: 1%><br>
    </div>

    <div class="mb-3 col-sm-2">
    <%= f.submit "Create Recipe_Food", class:"btn btn-primary form-control" %>
    </div>
    </div>
<%end%>
